@import 'tailwindcss';

@theme {
  --font-sans: Switzer, system-ui, sans-serif;

  --radius-4xl: 2rem;
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

.text-gradient {
  background: -webkit-linear-gradient(0deg, var(--color-indigo-500), var(--color-indigo-600));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-scrolled {
  /* Following properties have to be in this order
  otherwise only one of them is integrated in the build */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.6); /* transparent white */
}